.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo img {
  margin-top: 0.2rem;
  min-width: 25rem;
  height: 25rem;
}

.photo p{
  max-width: 24rem;
  height: 2.375rem;
  margin-bottom: 0;
  text-align: center;
}
